#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
background-image: url("./assets/img/weatherbackground.jpeg");
background-repeat: no-repeat;
background-position: cover;
}

.container{
  width: 800px;
  height: 450px;
  background-color: rgba(41, 41, 41, 0.3);
  box-shadow: 20px 20px 20px 20px rgba(41, 41, 41);
  border-radius: 20px;
}

.card-content{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card-title{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  font-size: 40px;
  color: #fff;

}

.card-subtitle{
  text-align: center;
  margin: 15px;
  color: #fff;

}


.card-content--info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}

.card-content-img{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-img{
  width: 150px;
}

.card-subtitle--degrees{
  margin: 0px;
  color: #fff;
}

.card-btn{
  margin-top: 30px;
}
