#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container{
  width: 800px;
  height: 400px;
  background-color: black;
  border-radius: 20px;
 
}

.card-content{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card-title{

}

.card-subtitle{


}


.card-content--info{

}

.card-content-img{
}

.card-img{

}

.card-subtitle--degrees{

}

.card-btn{
  
}
